

<div class="row w-100 mx-0" style="margin-top: 100px">
    <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
                <img src="~/images/logo.svg" alt="logo">
            </div>
            <h4>Hello! let's get started</h4>
            @if (!string.IsNullOrEmpty(ViewBag.SignUpSuccess))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@ViewBag.SignUpSuccess</strong>
                    <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x-square-fill"></i></button>
                </div>
            }
            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>@ViewBag.Message</strong>
                    <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x-square-fill"></i></button>
                </div>
            }
            <h6 class="font-weight-light">Sign in to continue.</h6>
            <form id="sign-in-form" class="pt-3" asp-action="SignIn" asp-controller="Account">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" name="UsernameEmail" id="UsernameEmail" placeholder="Username/Email">
                    <span class="form-message"></span>
                    @if (!string.IsNullOrEmpty(ViewBag.Error))
                    {
                        <strong class="form-message">@ViewBag.Error</strong>
                    }
                </div>
                
                <div class="form-group">
                    <input type="password" class="form-control form-control-lg" name="Password" id="Password" placeholder="Password">
                    <span class="form-message"></span>
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorPassword))
                    {
                        <strong class="form-message">@ViewBag.ErrorPassword</strong>
                    }
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                    Don't have an account? <a asp-action="SignUp" asp-controller="Account" class="text-primary">Create now!</a>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="~/js/validator.js"></script>
<script>
    Validator({
        form: "#sign-in-form",
        errorSelector: ".form-message",
        rules: [
            Validator.isRequired(
                "#UsernameEmail",
                "Username or Email is required"
            ),
            Validator.isRequired(
                "#Password",
                "Password is required"
            )
        ],
    });
</script>
<style>
    .form-message {
        color: red;
    }
</style>