<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<div class="container d-flex flex-row align-items-center py-5">
    <div style="flex: 1 1 0;">
        <h2>Our mission</h2>
        <p>
            Our goal is to bring convenience and ease to the world of food shopping. We understand that with busy schedules, it can be difficult to find the time to go grocery shopping or visit specialty food stores. That's why we're here to make your shopping experience as seamless as possible.
            Our user-friendly website allows you to easily browse our selection, place an order, and have it delivered directly to your door. We offer flexible delivery options, so you can choose the date and time that works
        </p>
    </div>
    <div style="flex: 1 1 0;" class="pl-5">
        <img class="w-100" src="~/assets/img/abt.jpg" />
    </div>
</div>

<div class="container d-flex flex-row align-items-center py-5">
    <div style="flex: 1 1 0;" class="pr-5">
        <img class="w-100" src="~/assets/img/dd.jpg" />
    </div>
    <div style="flex: 1 1 0;">
        <h2>Our products</h2>
        <p>
            Our company was founded with the mission of providing high-quality, fresh produce, and specialty foods to our customers. We believe that everyone should have access to healthy and delicious food, regardless of their location or lifestyle.
            We work with local farmers and independent artisans to source the freshest ingredients possible. Our selection includes organic produce, grass-fed meats, artisanal cheeses, and more, so you can get everything you need in one place.
        </p>
    </div>
</div>