    <!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<div class="container d-flex flex-row align-items-center py-5">
    <div style="flex: 1 1 0;" class="pr-5">
        <img class="rounded shadow-lg" src="~/assets/img/binh-thanh-district-vietnam.jpg" />
    </div>
    <div style="flex: 1 1 0;">
        <h2>Contact Us!</h2>
        <p>
            We’d love to hear from you! If you have any questions about our products, need help with an order or simply want to say hello, please don’t hesitate to get in touch.

            You can reach us through the following methods:
            <br />
            <b>Email:</b> <a href="mailto:junkfoodshop@foodshop.com">junkfoodshop@@foodshop.com</a>
            <b>Phone:</b> <a href="tel:091222122">+84 912 122 122</a>
            <br />
            Our customer service hours are Monday to Saturday, 9AM – 6PM GMT+7.
            We take customer service seriously, so please let us know how we can help.
            Thank you for choosing to shop with us!
        </p>
    </div>
</div>