<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RoyalUI Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo me-5" asp-action="Index" asp-controller="Admin"><img src="~/images/logo.svg" class="me-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" asp-action="Index" asp-controller="Admin"><img src="~/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="ti-view-list"></span>
                </button>

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown me-1">

                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="~/images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        David Grey
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="~/images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        Tim Cook
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="~/images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        Johnson
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                            <img src="~/images/default-profile-picture.png" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" asp-action="SignOut" asp-controller="Account">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="ti-view-list"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Admin">
                            <i class="ti-shield menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#food-management" aria-expanded="false" aria-controls="food-management">
                            <i class="ti-palette menu-icon"></i>
                            <span class="menu-title">Food Management</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="food-management">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-action="FoodManage" asp-controller="Admin">Food List</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="CreateFood" asp-controller="Admin">Create Food</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#category-management" aria-expanded="false" aria-controls="category-management">
                            <i class="ti-palette menu-icon"></i>
                            <span class="menu-title">Category Management</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="category-management">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-action="CategoryManage" asp-controller="Admin">Category List</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="CreateCategory" asp-controller="Admin">Create Category</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="UserManage" asp-controller="Admin">
                            <i class="ti-palette menu-icon"></i>
                            <span class="menu-title">User List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="OrderManage" asp-controller="Admin">
                            <i class="ti-palette menu-icon"></i>
                            <span class="menu-title">Order list</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="UserCommentManage" asp-controller="Admin">
                            <i class="ti-palette menu-icon"></i>
                            <span class="menu-title">User Comments list</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="main-panel">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <script src="~/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/validator.js"></script>
</body>
</html>
