<div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <h4>Category Management</h4>
            <h6 class="font-weight-light">Create new Category.</h6>
            <img id="categoryImgTag" class="w-100 rounded mb-4" />
            <form id="category-form" class="pt-3" asp-action="CreateCategory" asp-controller="Admin">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" name="CategoryName" id="CategoryName" placeholder="Category Name">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" name="CategoryImage" id="CategoryImage" placeholder="Category Image Path">
                    <span class="form-message"></span>
                </div>
                <div class="mt-3 w-100">
                    <button type="submit" class="w-100 btn btn-block btn-primary btn-lg font-weight-medium">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Warning! Read before Create!
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                Requires entering an image link ending in .jpg, .png, .jpeg.
                <br />
                Example: <a href="https://res.cloudinary.com/dxbtchqty/image/upload/v1670841193/MovieTest/ASPMVCTEST/Actor/RobertDowneyJr_nqjbzu.jpg">https://res.cloudinary.com/dxbtchqty/image/upload/v1670841193/MovieTest/ASPMVCTEST/Actor/RobertDowneyJr_nqjbzu.jpg</a>
            </div>
        </div>
    </div>
</div>

@*<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script defer src="~/js/validator.js"></script>
<script>
    $(document).ready(function () {
        Validator({
            form: "#category-form",
            errorSelector: ".form-message",
            rules: [
                Validator.isRequired(
                    "#CategoryName",
                    "Category name is required"
                ),
                Validator.minLength(
                    "#CategoryName",
                    3,
                    "The Category name must greater than 3 characters"
                ),
                Validator.isRequired(
                    "#CategoryImage",
                    "Category image is required"
                ),
                Validator.isImageLink(
                    "#CategoryImage",
                    "This category image field must be an image link (ending with .jpg, .jpeg, or .png)"
                )
            ],
        });

        $("#CategoryImage").on("change", function () {
            $("#categoryImgTag").attr("src", $(this).val())
        });
    })
</script>
<style>
    .form-message {
        color: red;
    }
</style>